@model List<Postagem>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BLOG DO GALLO</DOc></h1>
    <p>Confira aqui as últimas novidades do mundo!!</a>.</p>
</div>

@foreach (Postagem postagem in Model)
{
    <p>@postagem.Nome</p>
    <img src="@postagem.Foto" width="300"/>
    <p>@postagem.Descricao</p>
    <p>@postagem.Texto</p>
}